html, body{
	margin: 0;
	padding: 0;
}
.file-tab {
	cursor: pointer;
	color: #dadada;
}
.file-tab:hover {
	background: #dadada;
}
.file-tab-active {
	color: #000 !important; 
}
.file-tab-loaded {
	color: #696969;
}