.files-wrap,
.files {
  height: 100%;
}
.files {
  	/* compensate for app-bar height */
    position: relative;
    top: -64px;
    padding-top: 64px;
}
.file {
  position: relative;
  margin: 20px;
  padding: 21px;
}
.file-header {
  padding: 0px !important;
}
.file-header .filename {
}
.file-header .filename .bytelength {
  color: rgba(0,0,0,0.54) !important;
  margin-left: 10px;
}
.file-header > div,
.file-header > div > span {
  cursor: pointer;
  padding-right: 0px !important;
  width: 100%;
}
.file-header .wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.file .file-header span {
  color: #000 !important;
}
.file .file-header.loading span {
  color: #ddd !important;
}
.file .progress {
  border-radius: 2px !important;
}

.file .closebutton {
  display: inline-block;
  width: 30px !important;
  cursor: pointer;
  align-self: flex-end;
}
.file .closebutton svg {
  fill: #bdbdbd !important;
  transition: fill 120ms ease-in-out;
}
.file .closebutton:hover svg {
  fill: #000 !important;
}
.add-file-input {
  display: none;
}
.add-files-hint {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: $fonts;
  color: #aaa;
}
.file .content {
  display: none;
  margin-top: 40px;
  padding: 0 20px 20px 20px;
}
.file .content.expanded {
  display: flex;
}
